FEATURES {
    STARTADDRESS: default = $0801;
}
SYMBOLS {
    __LOADADDR__:  type = import;
    __EXEHDR__:    type = import;
    __STACKSIZE__: type = weak, value = $0400;
    __HIMEM__:     type = weak, value = $D000;
}
MEMORY {
    ZP:       file = "",  define = yes, start = $0002,           size = $001A;
    LOADADDR: file = %O,                start = %S - 2,          size = $0002;
    HEADER:   file = %O,  define = yes, start = %S,              size = $000D;
    MAIN:     file = %O,  define = yes, start = __HEADER_LAST__, size = $2000 - __HEADER_LAST__;
    # $2000-$27FF: charset (reserved, filled at runtime by tiles_init)
    HICODE:   file = %O,  define = yes, start = $2800,           size = __HIMEM__ - $2800;
    BSS:      file = "",                start = __HICODE_LAST__,  size = __HIMEM__ - __STACKSIZE__ - __HICODE_LAST__;
}
SEGMENTS {
    ZEROPAGE: load = ZP,       type = zp;
    LOADADDR: load = LOADADDR, type = ro;
    EXEHDR:   load = HEADER,   type = ro;
    STARTUP:  load = MAIN,     type = ro;
    LOWCODE:  load = MAIN,     type = ro,  optional = yes;
    CODE:     load = HICODE,   type = ro;
    RODATA:   load = HICODE,   type = ro;
    DATA:     load = HICODE,   type = rw;
    INIT:     load = HICODE,   type = rw;
    ONCE:     load = HICODE,   type = ro,  define = yes;
    BSS:      load = BSS,      type = bss, define = yes;
}
FEATURES {
    CONDES: type    = constructor,
            label   = __CONSTRUCTOR_TABLE__,
            count   = __CONSTRUCTOR_COUNT__,
            segment = ONCE;
    CONDES: type    = destructor,
            label   = __DESTRUCTOR_TABLE__,
            count   = __DESTRUCTOR_COUNT__,
            segment = RODATA;
    CONDES: type    = interruptor,
            label   = __INTERRUPTOR_TABLE__,
            count   = __INTERRUPTOR_COUNT__,
            segment = RODATA,
            import  = __CALLIRQ__;
}
